<div class="col-md-4 col-sm-6">
  <section class="panel panel-default">
    <header class="panel-heading">
      <h2 class="panel-title"><%= title %></h2>
    </header>
    <%= yield %>
  </section>
</div>
