<header class="jumbotron">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag "logo.png", alt: "LiveLog logo", class: "img-responsive center-block" %>
    </div>
    <div class="col-sm-8 text-center">
      <h2>LiveLog</h2>
      <p>
        京都大学を中心に活動するアコースティック軽音サークル<br>
        「<a href="http://ku-unplugged.net/" target="_blank">京大アンプラグド</a>」のセットリスト検索システムです。
      </p>
      <%= render "songs/search_form" %>
    </div>
  </div>
</header>
<%= render "songs/songs_table", songs: @songs, show_live: true %>

<%= paginate @songs, theme: "twitter-bootstrap-4" %>
