<div class="col-xs-6 col-sm-3 col-md-2">
  <section class="panel panel-default">
    <header class="panel-heading">
      <h2 class="panel-title"><%= title %></h2>
    </header>
    <%= yield %>
  </section>
</div>
