<li>
  <% if logged_in? || user.public? %>
    <%= link_to user do %>
      <%= user.full_name(logged_in?) %>
    <% end %>
    <% if logged_in? && user.admin? %>
      <span>*</span>
    <% end %>
  <% else %>
    <%= user.full_name(logged_in?) %>
  <% end %>
</li>
