<li>
  <%= link_to user do %>
    <%= user.nickname.blank? ? user.full_name : "#{user.full_name} (#{user.nickname})" %>
    <% if user.admin? %>
      <span>*</span>
    <% end %>
  <% end %>
  <% if current_user.admin? && !user.current_user?(current_user) %>
    <%= link_to glyphicon(:trash, "text-danger"), user, method: :delete,
      data: {confirm: "Are you sure?"}, title: "Delete" %>
  <% end %>
</li>
