<% provide :title, "Edit user" %>
<% provide :button_text, "Save" %>
<header class="page-header">
  <h2>Update your profile</h2>
</header>
<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= render "form", f: f, full: true %>
<% end %>
