<% provide :title, "Members" %>
<header class="page-header">
  <h2>Members</h2>
</header>
<aside class="form-inline">
  <div class="checkbox">
    <label>
      <%= check_box_tag :active, true, false, checked: params[:active] == 'true',
        onchange: "location.href='#{request.path}?active=' + $(this).is(':checked');" %>
      1年以内にライブに出演したメンバーのみ表示
    </label>
  </div>
</aside>
<% @users.distinct_joined.each_slice(4) do |four_y| %>
  <div class="row">
    <% four_y.each do |y| %>
      <div class="col-sm-3">
        <h2><%= y %></h2>
        <ol>
          <% @users.select { |u| u.joined == y }.each do |user| %>
            <% cache_unless logged_in?, user do %>
              <%= render user %>
            <% end %>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
<% end %>
<% if logged_in? %>
  <p>* 印が付いているメンバーは管理者です。</p>
<% end %>
