<%= form_tag "/songs", method: "get", class: "form-inline" do %>
  <div class="form-group">
    <%= text_field_tag :q, "", class: "form-control", placeholder: "Song / Artist" %>
  </div>
  <%= button_tag glyphicon(:search) + "Search", class: "btn btn-primary" %>
<% end %>
