$brand-primary: darken(#f0ad4e, 6.5%);
$navbar-default-color: #333;
$navbar-default-bg: #f0ad4e;
$brand-bg: #fcf8e3;
$brand-border: #faebcc;
$gray-lighter: $brand-border;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color: #000;
$table-border-color: lighten($brand-primary, 30%);
$table-bg-accent: lighten($brand-primary, 40%);
$navbar-default-link-active-color: #000;
$navbar-default-toggle-hover-bg: lighten($navbar-default-bg, 20%);
$navbar-default-toggle-icon-bar-bg: #333;
$navbar-default-toggle-border-color: lighten($navbar-default-bg, 10%);
$well-bg: $brand-bg;
$well-border: $brand-border;
